<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>About Us</title>
            <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
            <script src="https://kit.fontawesome.com/d4b1dbcaad.js" crossorigin="anonymous"></script>
        </head>
    <body>
        <div id = "navBar">
            <img id = "logo"> 
            <button id = "page">Home</button>
            <button id = "page">About Us</button>
        </div>
        <div id = "top">
            <h1>About Us</h1>
        </div>
        <div id = "person">
            <h1>Person 1</h1>
            <p>insert person 1's info (hobbies, fav food, etc)</p>
        </div>
        <div id = "person">
            <h1>Person 2</h1>
            <p>insert person 2's info (hobbies, fav food, etc)</p>
        </div>
        <div id = "person">
            <h1>Person 3</h1>
            <p>insert person 3's info (hobbies, fav food, etc)</p>
        </div>
        <div id = "person">
            <h1>Person 4</h1>
            <p>insert person 4's info (hobbies, fav food, etc)</p>
        </div>
    </body>
</html>