<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>About Us</title>
            <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
            <link rel="shortcut icon" type="image/png" href="images/logo_multi_color.png"> 
        </head>
    <body>
        <div class="navbar">
            <a class="page" href = "index.html">Home</a>
            <a class="page" href = "about.html">About Us</a>
            <img class="logo" src="images/logo_multi_color.png">
        </div>

        <div class="header">
            <h1>About Us</h1>
        </div>

        <div class="info-text">
            <div class="subset">
                <h1>Our Mission</h1>
                <img src="images/extra3.png">
                <h3>Our mission is to empower individuals to make informed decisions about their health by providing
                    easy access to answers for their health-related questions. We believe that healthy eating is a
                    fundamental component of ones welbeing, and our app is designed to support everyone in making
                    positive choices in their nutrition. Our ultimate goal is to provide everyone with helpful information,
                    to help them reach their health goals.</h3>
            </div>

            <div class="subset">
                <h1>Why NutritioNow?</h1>
                <img src="images/extra1.png">
                <h3>Our program provides quick answers to many questions that you may have. Due to the fact that our
                    model uses AI, our model can generate answers much faster than a human could. However, our model i not
                    to be trusted above a medical professional. For serious concerns, always contact your doctor for help.
                </h3>
            </div>
        </div>

        <div class="header-small">
            <h1>Meet the Developers!</h1>
        </div>

        <div class = person>
            <h1>Justin Chen</h1>
            <img class="profile-pic" src="images/empty_profile.png">
            <p class = "bubble">
                Something about me. <br>
                Something else. <br>
                And one more thing.
            </p>
        </div>
        <div class = person>
            <h1>Ethan Eisler</h1>
            <img class="profile-pic" src="images/empty_profile.png">
            <p class = "bubble">
                Something about me. <br>
                Something else. <br>
                And one more thing.
            </p>
        </div>
        <div class = person>
            <h1>Lilja Kiiski</h1>
            <img class="profile-pic" src="images/lilja_profile.png">
            <p class = "bubble">
                Linux enthusiast interested in Computer Science and
                Robotics
            </p>
        </div>
        <div class = person>
            <h1>Jayden Lim</h1>
            <img class="profile-pic" src="images/jayden_profile.jpg">
            <p class = "bubble">
                Something about me. <br>
                Something else. <br>
                And one more thing.
            </p>
        </div>
    </body>
</html>