<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>About Us</title>
            <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
            <script src="https://kit.fontawesome.com/d4b1dbcaad.js" crossorigin="anonymous"></script>
        </head>
    <body>
        <div id = "navBar">
            <img class = "logo"> 
            <a class = "page" href = "index.html">Home</a>
            <a class = "page" href = "about.html">About Us</a>
        </div>
        <div id = "top">
            <h1>About Us</h1>
        </div>
            <div class = person>
                <h1>Person 1</h1>
                <p class = "bubble">
                    asdlkfjadslklaksdjflaksdjf;askdlfa;sdklfja;slkdjf;aksldfjskdfjskldjflskdjflksdjflksdjflsdkjfkl
                </p>
            </div>
            <div class = person>
                <h1>Person 2</h1>
                <p class = "bubble">
                    lejaflk;sdjfkla
                </p>
            </div>
            <div class = person>
                <h1>Person 3</h1>
                <p class = "bubble">
                    asdkfjals
                </p>
            </div>
            <div class = person>
                <h1>Person 4</h1>
                <p class = "bubble">
                    asdfoasdjflkajslk
                </p>
            </div>
    </body>
</html>