{% load static %}
<html>
    <head>
        <title>NutritioNow</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/logo_multi_color.png' %}"> 
    </head>

    <body>
        <div class="navbar">
            <a class="page" href = "{% url 'index' %}">Home</a>
            <a class="page" href = "{% url 'about' %}">About Us</a>
            <img class="logo" src="{% static 'images/logo_multi_color.png' %}">
        </div>

        <div class="header">
            <h1>NutritioNow</h1>
        </div>

        <div id="info-head">
            <h3>Ask about anything Nutrition or Health related!</h3>
        </div>

        <form method="POST">
			{% csrf_token %}
            <input id="input" name="input" type="text" size = 50></input> 
            <button type="submit" hidden = "hidden">Send</button>
        </form>

        <div class="result">
            <p>{{message}}</p>
        </div>

        <div class="info-text">
            <div class="subset center">
                <h1>Welcome!</h1>
                <h3>Glad to have you. Our ChatBot has been specially trained to answer questions you may have
                    about health and nutrition! Feel free to explore the website and ask our bot any questions
                    that you may have!
                </h3>
            </div>
        
            <div class="subset center">
                <h1>Feel free to try some of these prompts!</h1>
                <h3>How many calories should I be eating in a day?</h3>
                <h3>What are some important sources of calcium?</h3>
                <h3>How much sugar is too much?</h3>
            </div>

            <div class="subset center">
                <h1>Important!</h1>
                <h3>Our model is still under construction, and may not answer all questions accurately. For any
                    concerns about your health, ask a medical professional!
                </h3>
            </div>
        </div>

        <div class="footer">
            <img src="../static/images/logo_multi_color.png">
        </div>
    </body> 
</html>