<html>
    <head>
        <title>NutritioNow</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"> 
        <script src="https://kit.fontawesome.com/d4b1dbcaad.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="navbar">
            <a class="page" href = "index.html">Home</a>
            <a class="page" href = "about.html">About Us</a>
            <img class="logo" src="images/logo_multi_color.png">
        </div>

        <div class="header">
            <h1>NutritioNow</h1>
        </div>

        <div id="info">
            <h3>Ask about anything Nutrition or Health related!</h3>
        </div>

        <form method="POST">
			{% csrf_token %}
            <input id="input" name="input" type="text" size = 50></input> 
            <button type="submit" hidden = "hidden">Send</button>
        </form>

        <div class="result">
            <p>{{message}}</p>
        </div>

        <div class="welcome">
            <h1>Welcome!</h1>
            <h3>Glad to have you. Our ChatBot has been specially trained to answer questions you may have
                about health and nutrition! Feel free to explore the website and ask our bot any questions
                that you may have!
            </h3>
        
            <h1>Feel free to try some of these prompts!</h1>
            <h3>How many calories should I be eating in a day?</h3>
            <h3>What are some important sources of calcium?</h3>
            <h3></h3>
        </div>

    </body> 
</html>