{% load static %}
<html>
    <head>
        <title>NutritioNow</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/logo_multi_color.png' %}"> 
        {% comment %} <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script> {% endcomment %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </head>

    <body>
        <div class="navbar">
            <a class="page" href = "{% url 'index' %}">Home</a>
            <a class="page" href = "{% url 'about' %}">About Us</a>
            <img class="logo" src="{% static 'images/logo_multi_color.png' %}">
        </div>


        <div id="info-head">
            <br> <!--please don't jusdje this for being here...-->
            <h1>NutritioNow</h1>
            <h3>Feel free to ask any nutrition or health related questions!</h3>
        </div>

        <form id="chat-form">
			{% csrf_token %}
            <textarea id="input-field" name="input" type="text" rows="4" cols="50" minlength="1" required></textarea> 
            <br>
            <button class="expand" type="submit">
                Submit
                <span class="expand-icon expand-hover">
                    <svg class="first" xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 32 32" version="1.1">
                        <path d="M8.489 31.975c-0.271 0-0.549-0.107-0.757-0.316-0.417-0.417-0.417-1.098 0-1.515l14.258-14.264-14.050-14.050c-0.417-0.417-0.417-1.098 0-1.515s1.098-0.417 1.515 0l14.807 14.807c0.417 0.417 0.417 1.098 0 1.515l-15.015 15.022c-0.208 0.208-0.486 0.316-0.757 0.316z" />
                    </svg>
                    <span class="loader"></span>
                    <svg class="second" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
                        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 5L8 15l-5-4" />
                    </svg>
                </span>
            </button>
        </form>

        <div class="result">
            <p id="response">{{message}}</p>
        </div>

        <div class="info-text">
            <div class="subset center">
                <h1>Welcome!</h1>
                <h3>Glad to have you. Our website is here to help you to get answers to any health questions you may have. 
                    Just type in any questions you have, and wait for a response. Response times vary between 5 - 15 seconds.
                </h3>
            </div>
        
            <div class="subset center">
                <h1>Feel free to try some of these prompts!</h1>
                <h3>How many calories should I be eating in a day?</h3>
                <h3>What are some important sources of calcium?</h3>
                <h3>What is the recommended serving size of sugar?</h3>
            </div>

            <div class="subset center">
                <h1>Important!</h1>
                <h3>While the model we are using is fairly good, if you 
                    have any serious health concerns, always ask a medical professional!
                </h3>
            </div>
        </div>

        <div class="footer">
            <img src="{% static 'images/logo_multi_color.png' %}">
        </div>
    </body> 
</html>