@font-face {
    font-family: shadows-into-light;
    src: url('ShadowsIntoLight-Regular.ttf');
}

* {
    box-sizing: border-box;
}

button.expand {
	--button-height: 48px;
	overflow: hidden;
	outline: none;
	background-color: #92c24c;;
	border-radius: 10px;
	padding: 12px 25px;
	font-size: 1.1em;
	border: none;
	color: white;
	font-family:  shadows-into-light;
	cursor: pointer;
	position: relative;
	transition: padding 0.3s;
}

.expand-icon {
	--icon-size: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	height: var(--button-height);
	width: var(--button-height);
	border-left: 1px solid #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(calc(var(--button-height) + 1px));
	transition: transform 0.3s;
}

.expand-icon > svg {
	height: var(--icon-size);
	width: var(--icon-size);
	transform: scale(1.5);
	transition: transform 0.3s;
}

.expand-icon > svg.second {
	display: none;
	transform: scale(0) translateY(50px);
	transition: transform 0.3s;
}

button.expand:hover,
button.expand.loading {
	padding-right: calc(25px + var(--button-height));
}

button.expand:hover > .expand-icon,
button.expand.loading > .expand-icon {
	transform: translateX(0);
	transition: transform 0.3s 0.05s;
}

button.expand.loading > .expand-icon > svg {
	transform: scale(0);
}

@keyframes rotate {
	0% {
		transform: scale(0.3) rotateZ(0deg);
	}
	100% {
		transform: scale(0.3) rotateZ(360deg);
	}
}

.loader {
	--loader-size: 52px;
	height: var(--loader-size);
	width: var(--loader-size);
	border: 4px solid white;
	border-left-color: transparent;
	border-right-color: transparent;
	background-color: transparent;
	border-radius: 50%;
	animation: rotate 1.5s linear infinite;
	position: absolute;
	right: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1s 0.3s;
}

button.expand.loading > span > span.loader {
	opacity: 1;
}

button.expand.loaded > span > span.loader {
	opacity: 0 !important;
}

button.expand.loaded > .expand-icon > svg.first {
	display: none;
}

button.expand.loaded > .expand-icon > svg.second {
	display: block;
}

button.expand.finished > .expand-icon > svg.second {
	transform: scale(1.5) translateY(0px);
}


html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: shadows-into-light;
    background: #f8f5e9;
    color: #92c24c;
    text-align: center;
}

.info-text h1 {
    color:rgb(5, 163, 0);
    font-size: 50px;
    margin: 10px;
}

.info-text h3{
    text-align: left;
    font-size: 25px;
    margin: 10px;
}

.info-text img {
    width: 200px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-radius: 20%;
}

.subset {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 5px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* Profiles */
.person{
    display: inline-block;
    min-height: 30vh;
	width: 15%;
	border-radius: 20px;
	padding: 10px;
	font-size: 25px;
	margin: 5px;
	position: relative;
	border: 5px solid #92c24c;
    margin-top: 35px;
    margin-bottom: 35px;
}

.person, .person h1, .person .bubble {
    background:rgb(255, 235, 212)
}

.person h1{
    color: rgb(4, 129, 0);;
	font-size: 40px;
}

.person .profile-pic {
    width: 70%;
    border-radius: 50%;
}

.person .bubble {
	text-align: center;
	word-wrap: break-word;
    font-size: 30px;
}

/* Small */
@media (max-width: 1200px) {
    .person {
      width: 50vw;
      margin: 30px;
    }
}

/* Navbar */
.navbar {
    text-align: left;
}

.navbar .page {
    font-size: 40px;
    color:rgb(240, 128, 0);
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .logo {
    width: 50px;
    padding: 10px;
    float: left;
}

/* Header */

.header h1 {
    color: #4ca044;
    font-size: 120px;
}

.header-small h1 {
    color:rgb(5, 163, 0);
    font-size: 60px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.header p{
    color: #4ca044;
    font-size: 25px;
}

.header h2 {
    padding: 20px;
}

.result {
    font-size: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

.center h3{
    text-align: center;
}

/* misc */

.footer img{
    width: 300px;
    margin-top: 100px;
}

#info-head {
    font-size: 20px;
    margin-bottom: 15px;
}

#input {
    border-radius: 10px;
    border-color: #4ca044;
    resize: none;
    margin: 10px;
}