<!DOCTYPE html>
<html>
	<head>
		<title>Nutriotion Website Name</title>
		<link rel="stylesheet" type="text/css" href="assets/style.css">
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png"> 
		<script src="https://kit.fontawesome.com/d4b1dbcaad.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<h1>Nutrition Website Name</h1>
		
		<p>Result: {{result}}</p>

		<form method="POST">
			{% csrf_token %}
			<label for="input">Question</label>
			<input id="input" name="input"></input>
			<button type="submit">Send</button>
		</form>
		<p style="color: rgb(5, 146, 0)">{{message}}</p>

	</body>	
</html>