@font-face {
    font-family: shadows-into-light;
    src: url('ShadowsIntoLight-Regular.ttf');
}

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: shadows-into-light;
    background: #f8f5e9;
    color: #92c24c;
    text-align: center;
}

.info-text h1 {
    color:rgb(5, 163, 0);
    font-size: 50px;
    margin: 10px;
}

.info-text h3{
    text-align: left;
    font-size: 25px;
    margin: 10px;
}

.info-text img {
    width: 200px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    border-radius: 20%;
}

.subset {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 5px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

/* Profiles */
.person{
    display: block;
    display: inline-block;
    min-height: 30vh;
	width: 15%;
	height: 40;
	border-radius: 20px;
	padding: 10px;
	font-size: 25px;
	margin: 5px;
	position: relative;
	border: 5px solid #92c24c;
    margin-top: 35px;
    margin-bottom: 35px;
}

.person, .person h1, .person .bubble {
    background:rgb(255, 235, 212)
}

.person h1{
    color: rgb(4, 129, 0);;
	font-size: 40px;
}

.person .profile-pic {
    width: 70%;
    border-radius: 50%;
}

.person .bubble {
	text-align: center;
	word-wrap: break-word;
    font-size: 30px;
}

/* Small */
@media (max-width: 1200px) {
    .person {
      width: 50vw;
      margin: 30px;
    }
}

/* Navbar */
.navbar {
    text-align: left;
}

.navbar .page {
    font-size: 40px;
    color:rgb(240, 128, 0);
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .logo {
    width: 50px;
    padding: 10px;
    float: left;
}

/* Header */

.header h1 {
    color: #4ca044;
    font-size: 120px;
}

.header-small h1 {
    color:rgb(5, 163, 0);
    font-size: 60px;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.header p{
    color: #4ca044;
    font-size: 25px;
}

.header h2 {
    padding: 20px;
}

.result {
    font-size: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

.center h3{
    text-align: center;
}

/* misc */

.footer img{
    width: 300px;
    margin-top: 100px;
}

#input {
    width: max-content;
}

#info-head {
    font-size: 20px;
    margin-bottom: 15px;
}
