@font-face {
    font-family: shadows-into-light;
    src: url('ShadowsIntoLight-Regular.ttf');
}

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: shadows-into-light;
    background: #f8f5e9;
    color: #92c24c;
    text-align: center;
}

#page{
    background-color: rgb(112, 197, 226);
    border: 3px solid rgb(0, 96, 240);
    font-size: 30px;
    color:rgb(0, 96, 240);
    padding-left:2.5%;
    padding-right: 2.5%;
    padding-top: 0%;
    padding-bottom: 0%;
}


#navBar{
    background-color:rgb(112, 197, 226);
    
    text-align: right;
}

#input{
    width:max-content;
}

#top{
    border: 3px solid rgb(112, 197, 226);
}

#top p{
    color: #4ca044;
    font-size: 20px;
    background-color: #ddeb42;
}

#top h1 {
    color: #4ca044;
    font-size: 100px;
    background-color: #ddeb42;
    
}

#person h1{
    text-align: center;
    color:rgb(112, 197, 226);
    font-size: 40px;
}

#person p{
    font-size:20px;
    color:rgb(112, 197, 226);
    padding-bottom: 5%;
    word-wrap:break-word;
}

h2 {
    padding: 20px;
}

.result {
    font-size: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

