@font-face {
    font-family: shadows-into-light;
    src: url('ShadowsIntoLight-Regular.ttf');
}

/* All pages */

html, body, div, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, button{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: shadows-into-light;
    background: #f8f5e9;
    color: #92c24c;
    text-align: center;
}

/* Welcome message*/
.welcome h1, .welcome h3 {
    text-align: left;
    margin: 10px;
    max-width: 800px;
}

.welcome h1 {
    color:rgb(5, 163, 0);
}

/* Profiles */
.person{
    display: block;
    display: inline-block;
    min-height: 30vh;
	width: 15%;
	height: 40;
	border-radius: 20px;
	padding: 10px;
	font-size: 25px;
	margin: 5px;
	position: relative;
	border: 5px solid #92c24c;
}

.person, .person h1, .person .bubble {
    background:rgb(255, 235, 212)
}

.person h1{
    color: rgb(4, 107, 0);;
	font-size: 40px;
}

.person .profile-pic {
    width: 70%;
    border-radius: 50%;
}

.person .bubble {
	text-align: center;
	word-wrap: break-word;
    font-size: 30px;
}

/* Navbar */

.navbar {
    text-align: left;
}

.navbar .page {
    font-size: 40px;
    color:rgb(240, 128, 0);
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .logo {
    width: 50px;
    padding: 10px;
    float: left;
}

/* Header */

.header h1 {
    color: #4ca044;
    font-size: 120px;
}

.header p{
    color: #4ca044;
    font-size: 25px;
}

.header h2 {
    padding: 20px;
}

.result {
    font-size: 25px;
    margin-left: 30%;
    margin-right: 30%;
}

#input{
    width: max-content;
}
